 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    img
    {
      width:350px;
      height:200px;
    }
    .news
    {
      margin-top: 20px;
    }
    .title h3
    {
      display:inline;
    }
    .title{
      margin-top:15px;
      margin-bottom:5px;
    }
    span
    {
      float:right;
    }
  </style>
</head>
<body>
   <div class="container">
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
      <div class="col-md-4 news">
        <img src="https://www.w3schools.com/w3images/lights.jpg" class="img-rounded" alt="">
          <div>
            <div class = 'title'>
              <h3>Name of news</h3>
              <span>24.12.2018</span>
            </div>
            <div class = 'body'>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
              <a href="#">Read more</a>
            </div>
          </div>
      </div>
    </div>
   
</body>
</html> 