@import "bootstrap";

$color-blue: #0AB0C0;

$color-white: #fff;

.container {
  margin-top: 10%;
}

.navbar-dark .navbar-nav .active>.nav-link:hover {
  color: $color-blue;
}

#navbarDropdown:hover {
  color: $color-blue;
}

.dropdown-menu a:hover {
  background-color: $color-blue;
}

.page-footer {
  color: $color-white;
}

.list-unstyled p {
  a {
    color: $color-white;
    text-decoration: none;
  }
  a:hover {
    color: $color-blue;
  }
}

.row {
  padding-top: 5%;
}

.page-footer h5 {
  color: #9ea3aa;
}

.footer-copyright {
  a {
    color: $color-white;
    text-decoration: none;
  }
  a:hover {
    color: $color-blue;
    text-decoration: none;
  }
}
