@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Audiowide');

$color-skyblue: #9edce5;

body {
  font-family: 'Audiowide', cursive;
}

.navbar {
  font-size: 16px;
}

.navbar-nav .open .dropdown-menu {
  cursor: pointer;
  li:hover {
    color: $color-skyblue;
  }
}

#footer {
  font-size: 16px;
  height: 120px;
  align-items: center;
  display: flex;
}
 
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: white;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    li:hover {
      color: $color-skyblue;
    }
  }
}
