$turquoise: #17a2b8;

a {
  color: $turquoise;
  &:hover {
    text-decoration: none;
    color: $turquoise;
    font-weight: bold;
  }
}

.btn-outline-info {
  padding: 5px 30px;
  margin-bottom: 10px;
}

.header {
  margin: 25px 0;
}
