%div(style='margin: auto; width: 600px; border: 1px solid grey; border-radius: 5px; padding: 20px; text-align: center')

  %div(style='display: block; margin-left: auto; margin-right: auto')
    = image_tag 'prodobro1.png', style: 'width: 100px'

  %div(style='background-color: #335b66; padding: 20px')
    %img(src='https://cdn3.iconfinder.com/data/icons/social-productivity-line-art-5/128/history-edit-512.png' style='width: 50px; display: block; margin-left: auto; margin-right: auto')
    %h2(style='color: white') Change password

  %p(style='font-weight: bold; margin-top: 40px') Hello #{@resource.email}!

  %p Someone has requested a link to change your password. You can do this through the link below.

  %button(style='background-color: #9edce5; padding: 15px; border: none; border-radius: 5px; margin: 15px')
    = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: 'color: black; text-decoration: none'

  %p If you didn't request this, please ignore this email.
  %p Your password won't change until you access the link above and create a new one.
